__pycache__/
**/__pycache__/
**pycache**/
*.pyc
.pytest_cache/
.env
frontend/.env
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
smartedu.db
*.db
.venv/
env/
venv/
.DS_Store
.streamlit/secrets.toml
.ipynb_checkpoints/
